/* page design start */
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

#para1{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
width: 40%;
height: auto;
display: block;
}
/* search start */
.upper iframe{
  padding-left: 25%;
  height: 250px;
  width: 50%;
  overflow: hidden;
  display: block;
}
/* search end */
.upper{
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50%;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 50%;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* page design end */
/* image slider start */
iframe{
  width: 75%;
  height: 250px;
  padding-left: 12.5%;
}
/* image slider end */
/* footer start */
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 1px;
}
.footer-content{
  text-align: center;
  font-size: 10px;
}
.footer-menu{
  text-align: center;
  font-size: large;
}
.footer-menu a{
  text-decoration: none;
  color: aqua;
}
#social {
  width: 10%;
  border-radius: 50%;
}
/* footer end */
/* top start */
.top button{
  /*display: none;*/
  position: fixed;
  bottom: 20px;
  right: 30px;
  /*z-index: 99;*/
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.top button:hover {
  background-color: #555;
}
/* top end */
/* product start */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

audio{
  width: 100%;
}

.audio{
  margin-top: 20px;
}

.details{
  margin-top: 20px;
}

span{
  display: block;
  margin-bottom: 10px;
}

/* product end */